 <div class="wpcf7">
     <h2>Звонок</h2>
                            {#<form class="wpcf7-form" method="post" action="/{{ locale }}/contacts/sendMail">
                                <p><span ><input type="text" title="Name:" size="40"  value="" name="name"></span></p>
                                <p><span><input type="text" title="E-mail:" size="40" value="" name="email"></span></p>
                                <p><span><input type="text" title="Phone:" size="40" value="" name="phone"></span></p>
                                <p><span><textarea title="Message:" rows="10" cols="40" name="body"></textarea></span></p>
                                <p><input type="submit" class="wpcf7-submit" value="Submit"></p>
                            </form>#}
                            <form class="wpcf7-form" action = "/{{ locale }}/{{ entity.translit }}/sendMail" method="post">
                               <p><span > {{ form_widget(form.fio ,{ 'attr' : { 'size' : '40' , 'onclick' : 'InputReset($(this))'} }) }}</span></p>
                               <p><span > {{ form_widget(form.email,{ 'attr' : { 'size' : '40', 'onclick' : 'InputReset($(this))' } })  }}</span></p>
                               <p><span > {{ form_widget(form.telefon,{ 'attr' : { 'size' : '40' , 'onclick' : 'InputReset($(this))'} })  }}</span></p>
                               <p><span > {{ form_widget(form.body,{ 'attr' : { 'cols' : '40', 'rows' : '10' } })  }}</span></p>
                               {#<p><span class="captcha"> {{ form_widget(form.captcha,{ 'attr' : { 'maxlength' : '5' } })  }}</span></p>#}
                               
                                {{ form_rest( form ) }}
                                <p><input type="submit" class="wpcf7-submit" value="Submit"></p>
                            </form>
</div> 