    <div class="container_12 clearfix"> 
        <div class="grid_12">
            <a href="/{{ locale }}" id="logo">
                <div class="logo">
                </div>
            </a>
                 {% render (controller("MainSiteBundle:Default:languages", { "routing" : routing, 'req' : req, 'locale': locale }))  %}
                <nav class="primary">
                    <ul id="topnav" class="sf-menu">
                    {% for entity in entities %}
                    {% if entity.translate(locale).getTitle %}
                    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item 
                        page_item page-item current_page_item menu-item">
                       {#% if entity.routing and entity.routing != 'faq' %}
                            {% set link = entity.routing %}
                        {% else %}
                            {% set link = entity.translate(locale).getTranslit %}
                        {% endif %#}  
                        <a href="/{{ locale }}/{{ entity.translate(locale).getTranslit }}">
                            {{entity.translate(locale).getTitle}}
                        </a>
                        {% set parent = entity.id %}                            
                            
                        <ul class="sub-menu">
                            {% for child in childs if child.parentid == parent %}
                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
                                <a href="/{{ locale }}/{{ child.translate(locale).getTranslit() }}">{{ child.translate(locale).getTitle }}</a>
                            </li>
                            {% endfor %}
                         </ul>
                        
                    </li>
                    {% endif %}
                    {% endfor %}
                    
                    </ul>
                    
                 </nav>
            </div>
        </div>
